<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    
    <server>
      <id>connectedapp</id>
      <username>~~~Client~~~</username>
      <password>7271771f52d34f0aafb5455dfdfd81cd~?~A8b5092356274206A680dFFDF895Bb65</password>
    </server>
  </servers>
</settings>
