<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    
    <server>
      <id>connectedapp</id>
      <username>~~~Client~~~</username>
      <password>fac577a6bd83429583008f1473c78a2c~?~DFdd9CaB8DE14c9EAfB853C3a70Ec5B7</password>
    </server>
  </servers>
</settings>
